html {
    height: 100%;
}

body {
    padding-bottom: 4rem;
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}